
// Font sizes

$fontSizeExtraSmall: 9px;
$fontSizeMeta: 11px;
$fontSizeSmall: 12px;
$fontSizeBase: 14px;
$fontSizeMedium: 18px;
$fontSizeLarge: 24px;


// Font Weight

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 600;


// Font Families

$fontFamilyBase: "Open Sans", sans-serif;


// Line height

$lineHeightBase: 1.4;
